<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>画像変換アプリケーション</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
  <h1>画像変換アプリケーション</h1>
  <form method="POST" enctype="multipart/form-data" action="/" id="upload-form">
    <input type="file" name="file" multiple>
    <input type="submit" value="変換">
  </form>

  <script src="/static/js/script.js"></script>
</body>

</html>